<div class="about-card card">
    <h5>Welcome to</h5>
    <h2>Masjid Al-Hidayah</h2>
            <p class="text-body-secondary">
        Operated by the Islamic Society of British Columbia, serving the Muslim communities of the tri-cities and the lower mainland since 2003.
    </p>
    <span class="color-2">www.theisbc.ca</span>

    <hr>

    <div id="servicesCarousel" class="carousel slide text-center" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <h5>Saturday Islamic School</h5>
                <small>📆 Saturdays (10:00 AM - 2:00 PM)</small>
                <br>
                <p>Enrich our children Islamic culture, Learn Arabic Language, Quran, Fiqh and Tawheed</p>

                <p>Scan for more details</p>
                <img width="120" class="qr img-center" src="/prayer-times/assets/images/sat_school_qrcode_image_600.png" alt="sat_school_qrcode" />
            </div>
            <div class="carousel-item text-center" data-bs-interval="10000" dir="rtl">
                <h5 class="amiri-regular">كُتَّاب الأطفال</h5>
                <small>📆 كل أحد من الساعة العاشرة صباحاً وحتي الواحدة ظهرا</small>
                <br>
                <br>
                <p>مزيد من التفاصيل:</p>
                <img width="120" class="qr img-center" src="/prayer-times/assets/images/kottabalatfal_qrcode_image_600.png" alt="kottabalatfal_qrcode" />
            </div>
        </div>
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    </div>

    <hr>

    <h5>Online Donation</h5>
    <p>
        Donate to support our community: <strong>Sadaqa, Masjid Fundraiser, Zakat, Food Bank, and Ramadan Iftar</strong>. Scan the QR code to give.
    </p>
    <img width="160" src="/prayer-times/assets/images/PayPal_qrcode_image_600.png" class="qr img-center">
    <br>
    <span>For cash or credit card donations, or if you have any questions, please contact masjid management directly.</span>
</div>